<settings version="2">
    <setting id="login" default="true" />
    <setting id="logout" default="true" />
    <setting id="pvrsetup" default="true" />
    <setting id="m3ugen" default="true">false</setting>
    <setting id="Hindi">false</setting>
    <setting id="English">true</setting>
    <setting id="Marathi">false</setting>
    <setting id="Telugu">false</setting>
    <setting id="Kannada">false</setting>
    <setting id="Tamil">true</setting>
    <setting id="Punjabi">false</setting>
    <setting id="Gujarati">false</setting>
    <setting id="Bengali">false</setting>
    <setting id="Bhojpuri">false</setting>
    <setting id="Malayalam">true</setting>
    <setting id="Odia">false</setting>
    <setting id="Assamese">false</setting>
    <setting id="Urdu">false</setting>
    <setting id="Nepali">false</setting>
    <setting id="cleanup" default="true" />
    <setting id="popup">true</setting>
    <setting id="extra">true</setting>
</settings>
