<settings version="2">
    <setting id="compress_backups">true</setting>
    <setting id="zip_temp_path" default="true">special://temp</setting>
    <setting id="backup_rotation">3</setting>
    <setting id="always_prompt_restore_settings" default="true">false</setting>
    <setting id="progress_mode" default="true">0</setting>
    <setting id="verbose_logging" default="true">false</setting>
    <setting id="upgrade_notes">2</setting>
    <setting id="remote_selection" default="true">0</setting>
    <setting id="remote_path">/storage/emulated/0/Download/</setting>
    <setting id="remote_path_2" default="true" />
    <setting id="dropbox_key" default="true" />
    <setting id="dropbox_secret" default="true" />
    <setting id="backup_selection_type" default="true">0</setting>
    <setting id="backup_addon_data">true</setting>
    <setting id="backup_config" default="true">true</setting>
    <setting id="backup_database" default="true">true</setting>
    <setting id="backup_game_saves" default="true">false</setting>
    <setting id="backup_playlists" default="true">true</setting>
    <setting id="backup_profiles" default="true">false</setting>
    <setting id="backup_thumbnails" default="true">true</setting>
    <setting id="backup_addons" default="true">true</setting>
    <setting id="enable_scheduler" default="true">false</setting>
    <setting id="schedule_interval" default="true">1</setting>
    <setting id="schedule_time" default="true">00:00</setting>
    <setting id="day_of_week" default="true">0</setting>
    <setting id="cron_schedule" default="true">0 0 * * *</setting>
    <setting id="schedule_miss" default="true">false</setting>
    <setting id="cron_shutdown" default="true">false</setting>
</settings>
