<settings>
    <setting id="showweather" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="showclock" type="bool">false</setting>
    <setting id="_debuggrid" type="bool">false</setting>
    <setting id="bgsoundoff" type="bool">false</setting>
    <setting id="menuhigh" type="bool">false</setting>
    <setting id="menumedlow" type="bool">false</setting>
    <setting id="menumed" type="bool">false</setting>
    <setting id="menumedhigh" type="bool">false</setting>
    <setting id="menulow" type="bool">false</setting>
    <setting id="menuoff" type="bool">false</setting>
    <setting id="useextinfo" type="bool">false</setting>
    <setting id="osdhigh" type="bool">false</setting>
    <setting id="osdmedlow" type="bool">false</setting>
    <setting id="osdmed" type="bool">false</setting>
    <setting id="osdmedhigh" type="bool">false</setting>
    <setting id="osdlow" type="bool">false</setting>
    <setting id="osdoff" type="bool">false</setting>
    <setting id="bgvideooff" type="bool">false</setting>
    <setting id="hidefanart" type="bool">false</setting>
    <setting id="_autoscrolloff" type="bool">false</setting>
    <setting id="yesnotono" type="bool">false</setting>
    <setting id="hidechannellogos" type="bool">false</setting>
    <setting id="nomenuanime" type="bool">false</setting>
    <setting id="imagetime1" type="bool">false</setting>
    <setting id="imagetime2" type="bool">false</setting>
    <setting id="imagetime3" type="bool">false</setting>
    <setting id="imagetime4" type="bool">false</setting>
    <setting id="imagetime5" type="bool">false</setting>
    <setting id="imagetime6" type="bool">false</setting>
    <setting id="imagetime7" type="bool">false</setting>
    <setting id="customslideshowrandom" type="bool">false</setting>
    <setting id="fanarttime1" type="bool">false</setting>
    <setting id="fanarttime2" type="bool">false</setting>
    <setting id="fanarttime3" type="bool">false</setting>
    <setting id="fanarttime4" type="bool">false</setting>
    <setting id="fanarttime5" type="bool">false</setting>
    <setting id="fanarttime6" type="bool">false</setting>
    <setting id="fanarttime7" type="bool">false</setting>
    <setting id="usefanartslideshow" type="bool">false</setting>
    <setting id="fanartsource1" type="bool">false</setting>
    <setting id="fanartsource2" type="bool">false</setting>
    <setting id="fanartsource3" type="bool">false</setting>
    <setting id="fanartsource4" type="bool">false</setting>
    <setting id="moviessectionhide" type="bool">true</setting>
    <setting id="tvsectionhide" type="bool">true</setting>
    <setting id="musicsectionhide" type="bool">true</setting>
    <setting id="picturessectionhide" type="bool">true</setting>
    <setting id="addonssectionhide" type="bool">true</setting>
    <setting id="pvrsectionhide" type="bool">false</setting>
    <setting id="moviesshelf_image" type="bool">false</setting>
    <setting id="pvrshelf_image" type="bool">false</setting>
    <setting id="tvshelf_image" type="bool">false</setting>
    <setting id="musicshelf_image" type="bool">false</setting>
    <setting id="picturesshelf_custom" type="bool">false</setting>
    <setting id="addonsshelf_custom" type="bool">false</setting>
    <setting id="moviesshelf_custom" type="bool">false</setting>
    <setting id="pvrshelfauto" type="bool">false</setting>
    <setting id="pvrshelf_custom" type="bool">false</setting>
    <setting id="tvshelfauto" type="bool">false</setting>
    <setting id="tvshelf_custom" type="bool">false</setting>
    <setting id="musicshelf_custom" type="bool">false</setting>
    <setting id="usecustombackground" type="bool">false</setting>
    <setting id="usecustomslideshow" type="bool">false</setting>
    <setting id="showfanartslideshowtitles" type="bool">false</setting>
    <setting id="movies1" type="bool">false</setting>
    <setting id="movies2" type="bool">false</setting>
    <setting id="movies3" type="bool">false</setting>
    <setting id="movies4" type="bool">false</setting>
    <setting id="movies5" type="bool">false</setting>
    <setting id="pvr1" type="bool">false</setting>
    <setting id="pvr2" type="bool">false</setting>
    <setting id="pvr3" type="bool">true</setting>
    <setting id="pvr4" type="bool">true</setting>
    <setting id="pvr5" type="bool">false</setting>
    <setting id="tv1" type="bool">false</setting>
    <setting id="tv2" type="bool">false</setting>
    <setting id="tv5" type="bool">false</setting>
    <setting id="tv3" type="bool">false</setting>
    <setting id="tv4" type="bool">false</setting>
    <setting id="music1" type="bool">false</setting>
    <setting id="music2" type="bool">false</setting>
    <setting id="music3" type="bool">false</setting>
    <setting id="music4" type="bool">false</setting>
    <setting id="music7" type="bool">false</setting>
    <setting id="music5" type="bool">false</setting>
    <setting id="pictures1" type="bool">false</setting>
    <setting id="addons1" type="bool">false</setting>
    <setting id="addons7" type="bool">false</setting>
    <setting id="addons2" type="bool">false</setting>
    <setting id="addons3" type="bool">false</setting>
    <setting id="addons4" type="bool">false</setting>
    <setting id="addons5" type="bool">false</setting>
    <setting id="addons6" type="bool">false</setting>
    <setting id="xbmc5" type="bool">true</setting>
    <setting id="xbmc0" type="bool">true</setting>
    <setting id="xbmc1" type="bool">true</setting>
    <setting id="xbmc2" type="bool">true</setting>
    <setting id="xbmc3" type="bool">true</setting>
    <setting id="xbmc4" type="bool">false</setting>
    <setting id="hidemediashelves" type="bool">false</setting>
    <setting id="movieshelfauto" type="bool">false</setting>
    <setting id="musicshelfauto" type="bool">false</setting>
    <setting id="picturesshelf_image" type="bool">false</setting>
    <setting id="addonsshelf_image" type="bool">false</setting>
    <setting id="xbmcshelf_image" type="bool">false</setting>
    <setting id="hidekodilogo" type="bool">false</setting>
    <setting id="_showrss" type="bool">false</setting>
    <setting id="quartzfirstrun" type="bool">true</setting>
    <setting id="_scrollbarsoff" type="bool">false</setting>
    <setting id="disable55" type="bool">false</setting>
    <setting id="lowpowermode" type="bool">false</setting>
    <setting id="disable502" type="bool">false</setting>
    <setting id="disable53" type="bool">false</setting>
    <setting id="disable501" type="bool">false</setting>
    <setting id="disable57" type="bool">false</setting>
    <setting id="disable59" type="bool">false</setting>
    <setting id="disable500" type="bool">false</setting>
    <setting id="viewoptions_hide" type="bool">false</setting>
    <setting id="libupdateoff" type="bool">false</setting>
    <setting id="_hidemusicplayerfanart" type="bool">false</setting>
    <setting id="nomusicanime" type="bool">false</setting>
    <setting id="lowperformancemode" type="bool">false</setting>
    <setting id="hide3d" type="bool">false</setting>
    <setting id="hidehd" type="bool">false</setting>
    <setting id="hidesetsicon" type="bool">false</setting>
    <setting id="_showwatched" type="bool">false</setting>
    <setting id="_showunwatched" type="bool">false</setting>
    <setting id="Weather_Background" type="string"></setting>
    <setting id="FanartVisibility" type="string"></setting>
    <setting id="CustomChannelsBackgroundImage" type="string"></setting>
    <setting id="CustomBackgroundPath" type="string"></setting>
    <setting id="CustomSlideshowPath" type="string"></setting>
    <setting id="MoviesName" type="string"></setting>
    <setting id="PVRName" type="string"></setting>
    <setting id="TVName" type="string"></setting>
    <setting id="MusicName" type="string"></setting>
    <setting id="PicturesName" type="string"></setting>
    <setting id="AddonsName" type="string"></setting>
    <setting id="XBMCName" type="string"></setting>
    <setting id="CustomMovies.1.Label" type="string"></setting>
    <setting id="custommovies.1.path" type="string"></setting>
    <setting id="CustomMovies.2.Label" type="string"></setting>
    <setting id="custommovies.2.path" type="string"></setting>
    <setting id="CustomMovies.3.Label" type="string"></setting>
    <setting id="custommovies.3.path" type="string"></setting>
    <setting id="CustomMovies.4.Label" type="string"></setting>
    <setting id="custommovies.4.path" type="string"></setting>
    <setting id="CustomMovies.5.Label" type="string"></setting>
    <setting id="custommovies.5.path" type="string"></setting>
    <setting id="CustomMovies.6.Label" type="string"></setting>
    <setting id="custommovies.6.path" type="string"></setting>
    <setting id="CustomMovies.7.Label" type="string"></setting>
    <setting id="custommovies.7.path" type="string"></setting>
    <setting id="CustomPVR.1.Label" type="string"></setting>
    <setting id="custompvr.1.path" type="string"></setting>
    <setting id="CustomPVR.2.Label" type="string"></setting>
    <setting id="custompvr.2.path" type="string"></setting>
    <setting id="CustomPVR.3.Label" type="string"></setting>
    <setting id="custompvr.3.path" type="string"></setting>
    <setting id="CustomPVR.4.Label" type="string"></setting>
    <setting id="custompvr.4.path" type="string"></setting>
    <setting id="CustomPVR.5.Label" type="string"></setting>
    <setting id="custompvr.5.path" type="string"></setting>
    <setting id="CustomPVR.6.Label" type="string"></setting>
    <setting id="custompvr.6.path" type="string"></setting>
    <setting id="CustomPVR.7.Label" type="string"></setting>
    <setting id="custompvr.7.path" type="string"></setting>
    <setting id="CustomTV.1.Label" type="string"></setting>
    <setting id="customtv.1.path" type="string"></setting>
    <setting id="CustomTV.2.Label" type="string"></setting>
    <setting id="customtv.2.path" type="string"></setting>
    <setting id="CustomTV.3.Label" type="string"></setting>
    <setting id="customtv.3.path" type="string"></setting>
    <setting id="CustomTV.4.Label" type="string"></setting>
    <setting id="customtv.4.path" type="string"></setting>
    <setting id="CustomTV.5.Label" type="string"></setting>
    <setting id="customtv.5.path" type="string"></setting>
    <setting id="CustomTV.6.Label" type="string"></setting>
    <setting id="customtv.6.path" type="string"></setting>
    <setting id="CustomTV.7.Label" type="string"></setting>
    <setting id="customtv.7.path" type="string"></setting>
    <setting id="CustomMusic.1.Label" type="string"></setting>
    <setting id="custommusic.1.path" type="string"></setting>
    <setting id="CustomMusic.2.Label" type="string"></setting>
    <setting id="custommusic.2.path" type="string"></setting>
    <setting id="CustomMusic.3.Label" type="string"></setting>
    <setting id="custommusic.3.path" type="string"></setting>
    <setting id="CustomMusic.4.Label" type="string"></setting>
    <setting id="custommusic.4.path" type="string"></setting>
    <setting id="CustomMusic.5.Label" type="string"></setting>
    <setting id="custommusic.5.path" type="string"></setting>
    <setting id="CustomMusic.6.Label" type="string"></setting>
    <setting id="custommusic.6.path" type="string"></setting>
    <setting id="CustomMusic.7.Label" type="string"></setting>
    <setting id="custommusic.7.path" type="string"></setting>
    <setting id="CustomPictures.1.Label" type="string"></setting>
    <setting id="custompictures.1.path" type="string"></setting>
    <setting id="CustomPictures.2.Label" type="string"></setting>
    <setting id="custompictures.2.path" type="string"></setting>
    <setting id="CustomPictures.3.Label" type="string"></setting>
    <setting id="custompictures.3.path" type="string"></setting>
    <setting id="CustomPictures.4.Label" type="string"></setting>
    <setting id="custompictures.4.path" type="string"></setting>
    <setting id="CustomPictures.5.Label" type="string"></setting>
    <setting id="custompictures.5.path" type="string"></setting>
    <setting id="CustomPictures.6.Label" type="string"></setting>
    <setting id="custompictures.6.path" type="string"></setting>
    <setting id="CustomPictures.7.Label" type="string"></setting>
    <setting id="custompictures.7.path" type="string"></setting>
    <setting id="CustomAddons.1.Label" type="string"></setting>
    <setting id="customaddons.1.path" type="string"></setting>
    <setting id="CustomAddons.2.Label" type="string"></setting>
    <setting id="customaddons.2.path" type="string"></setting>
    <setting id="CustomAddons.3.Label" type="string"></setting>
    <setting id="customaddons.3.path" type="string"></setting>
    <setting id="CustomAddons.4.Label" type="string"></setting>
    <setting id="customaddons.4.path" type="string"></setting>
    <setting id="CustomAddons.5.Label" type="string"></setting>
    <setting id="customaddons.5.path" type="string"></setting>
    <setting id="CustomAddons.6.Label" type="string"></setting>
    <setting id="customaddons.6.path" type="string"></setting>
    <setting id="shutdown" type="string"></setting>
    <setting id="MoviesShelf_Icon" type="string"></setting>
    <setting id="PVRShelf_Icon" type="string"></setting>
    <setting id="TVShelf_Icon" type="string"></setting>
    <setting id="MusicShelf_Icon" type="string"></setting>
    <setting id="PicturesShelf_Icon" type="string"></setting>
    <setting id="AddonsShelf_Icon" type="string"></setting>
    <setting id="XBMCShelf_Icon" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="ShelfMovies.1.Label" type="string"></setting>
    <setting id="ShelfMovies.2.Label" type="string"></setting>
    <setting id="ShelfMovies.3.Label" type="string"></setting>
    <setting id="ShelfMovies.4.Label" type="string"></setting>
    <setting id="ShelfMovies.5.Label" type="string"></setting>
    <setting id="ShelfMovies.6.Label" type="string"></setting>
    <setting id="ShelfMovies.7.Label" type="string"></setting>
    <setting id="ShelfMovies.8.Label" type="string"></setting>
    <setting id="ShelfMovies.9.Label" type="string"></setting>
    <setting id="ShelfMovies.10.Label" type="string"></setting>
    <setting id="ShelfPVR.1.Label" type="string"></setting>
    <setting id="ShelfPVR.2.Label" type="string"></setting>
    <setting id="ShelfPVR.3.Label" type="string"></setting>
    <setting id="ShelfPVR.4.Label" type="string"></setting>
    <setting id="ShelfPVR.5.Label" type="string"></setting>
    <setting id="ShelfPVR.6.Label" type="string"></setting>
    <setting id="ShelfPVR.7.Label" type="string"></setting>
    <setting id="ShelfPVR.8.Label" type="string"></setting>
    <setting id="ShelfPVR.9.Label" type="string"></setting>
    <setting id="ShelfPVR.10.Label" type="string"></setting>
    <setting id="ShelfTV.1.Label" type="string"></setting>
    <setting id="ShelfTV.2.Label" type="string"></setting>
    <setting id="ShelfTV.3.Label" type="string"></setting>
    <setting id="ShelfTV.4.Label" type="string"></setting>
    <setting id="ShelfTV.5.Label" type="string"></setting>
    <setting id="ShelfTV.6.Label" type="string"></setting>
    <setting id="ShelfTV.7.Label" type="string"></setting>
    <setting id="ShelfTV.8.Label" type="string"></setting>
    <setting id="ShelfTV.9.Label" type="string"></setting>
    <setting id="ShelfTV.10.Label" type="string"></setting>
    <setting id="ShelfMusic.1.Label" type="string"></setting>
    <setting id="ShelfMusic.2.Label" type="string"></setting>
    <setting id="ShelfMusic.3.Label" type="string"></setting>
    <setting id="ShelfMusic.4.Label" type="string"></setting>
    <setting id="ShelfMusic.5.Label" type="string"></setting>
    <setting id="ShelfMusic.6.Label" type="string"></setting>
    <setting id="ShelfMusic.7.Label" type="string"></setting>
    <setting id="ShelfMusic.8.Label" type="string"></setting>
    <setting id="ShelfMusic.9.Label" type="string"></setting>
    <setting id="ShelfMusic.10.Label" type="string"></setting>
    <setting id="ShelfPictures.1.Label" type="string"></setting>
    <setting id="ShelfPictures.2.Label" type="string"></setting>
    <setting id="ShelfPictures.3.Label" type="string"></setting>
    <setting id="ShelfPictures.4.Label" type="string"></setting>
    <setting id="ShelfPictures.5.Label" type="string"></setting>
    <setting id="ShelfPictures.6.Label" type="string"></setting>
    <setting id="ShelfPictures.7.Label" type="string"></setting>
    <setting id="ShelfPictures.8.Label" type="string"></setting>
    <setting id="ShelfPictures.9.Label" type="string"></setting>
    <setting id="ShelfPictures.10.Label" type="string"></setting>
    <setting id="ShelfAddons.1.Label" type="string"></setting>
    <setting id="ShelfAddons.2.Label" type="string"></setting>
    <setting id="ShelfAddons.3.Label" type="string"></setting>
    <setting id="ShelfAddons.4.Label" type="string"></setting>
    <setting id="ShelfAddons.5.Label" type="string"></setting>
    <setting id="ShelfAddons.6.Label" type="string"></setting>
    <setting id="ShelfAddons.7.Label" type="string"></setting>
    <setting id="ShelfAddons.8.Label" type="string"></setting>
    <setting id="ShelfAddons.9.Label" type="string"></setting>
    <setting id="ShelfAddons.10.Label" type="string"></setting>
</settings>
